{{!--<div class="card" style="width: 18rem;">
	<div class="card" style="width: 18rem;">
		<img src="http://via.placeholder.com/300x300" class="card-img-top" alt="...">
		<div class="card-body">
			<h5 class="card-title">{{this.country}}, {{this.city}}, {{this.address}}</h5>
			<p class="card-text">{{this.text}}</p>
			{{> buttonSeeDetails }}
		</div>
	</div>
</div>--}}
<div class="card mb-4" style="width: 18rem;">
	<div class="card-body">
		<h5 class="card-title">{{this.headline}}</h5>
		<h6 class="card-subtitle text-muted">{{this.country}}, {{this.city}}, {{this.address}}</h6>
	</div>
	<img src="{{this.images.path.[0]}}" class="card-img-top" alt="...">
	<div class="card-body">
		<p class="card-text">{{truncate this.text 300}}</p>
	</div>
	<div>
		{{> buttonSeeDetails }}
	</div>
</div>